@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

header {
    background-color: #1E1E1E;
    height: 100%;

}

.header {
    margin: 0 100px;
    padding-top: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;

}

.logo h1 {
    color: #FD6F00;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    width: 40%;
}

.nav-list {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: #FFF;
    font-size: 21px;
}

.primery-button {
    color: #FFF;
    background-color: #FD6F00;
    padding: 18px 26px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
}
.primery-button:hover{
    color: #FD6F00;
    background-color: #FFF;
    transition: 0.5s;
}

/* nav end */

.banner-container {
    display: flex;
    justify-content: space-between;
}

.banner-title {
    padding-top: 120px;
    color: #FFF;
    text-transform: uppercase;
    word-spacing: 10px;
    line-height: 50px;
    font-size: 40px;
    font-weight: 800;

}

.banner-title span {
    color: #FD6F00;
}

.banner-desc {
    padding-top: 12px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .5px;
}

.banner-image img {
    width: 600px;
    height: 620px;
}

.banner-skill {
    display: flex;
    justify-content: space-between;

    padding-top: 32px;
}

.banner-skill h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner-skill img {
    height: 34px;
    width: 34px;
    transform: rotate(-4deg);
}


/* button */

.banner-buttons{
    display: flex;
    justify-content: space-between;
}
.banner-button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
    align-items: center;
    width: 360px;
    height: 80px;
    border: 2px solid #FFF;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7.5px);
}

.button-one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;

    background-color: #FD6F00;
    width: 210px;
    padding: 10px 20px;
    border-radius: 60px;
    border: none;
}

.button-one h3 {
    font-size: 26px;
    font-weight: 400;
}

.button-two {
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
    background: none;
    border: none;
}

.social-icon{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 32px;
    margin-left: 50px;
}

.banner-skills {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    transform: rotate(-3.969deg);
    /* padding: 42px 0px 42px 41px; */
    background: #000;
}

.banner-skills h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding: 42px 0;

}


.about {
    display: flex;
    justify-content: space-between;
    /* margin-top: 120px; */
    padding: 120px 100px 80px 100px;
}

.about-me h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 19px;
}

.about-me p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
}

.about-experince {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
}

.about-year h3 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.about-year p{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
}



/* MAin section 1 */

.experince-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 120px 123px 120px 190px;
    background-image: linear-gradient(270deg, #342c22, #2e2631);
    color: #FFF;
}
.experince{
    width: 50%;
    
}
.experince h4{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}
.experince h3{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0 24px 0;
}
.experince p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.experince-names{
    width: 50%;
}

.experince-name-one{
    margin-bottom: 40px;
}
.experince-year{
    display: flex;
    justify-content: space-between;
}
.experince-year h4{
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}
.experince-year p{
    font-size: 16px;
    font-weight: 400;
}

.experince-name{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 0 20px 0;
}


/* AWARD */

.award-container{
    background-color: #1E1E1E;
    padding: 180px 200px;
    
}
.award-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.award-title h2{
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    

}
.award-title p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.60px;
    padding-bottom: 48px;
   
}

.award-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 30px;
    padding: 42px 56px;
    background-color: #000;
    border: 1px solid #FD6F00;
    border-radius: 5px;
}
.award-name{
    display: flex;
    justify-content: space-between;
}
.award-box h3{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}
.award-name h4{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}
.award-box p{
    color: rgba(255, 255, 255, 0.50);
}


/* my-portfolio */


.my-portfolio-container{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.my-portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.portfolio-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.portfolio-title h3{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.portfolio-title p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.60px;
}

.portfolio-button{
    display: flex;
    justify-content: space-between;
    gap: 17px;
}
.secondery-button{
    color: #FFF;
    background-color: #000;
    padding: 18px 26px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.portfolio-details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.portfolio-image img{
    border-radius: 5px;
}
.portfolio-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.portfolio-details h4{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}
.portfolio-details h3{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}
.portfolio-details p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 12px;
}

/* COntact */

.contact-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 48px;
    padding: 120px 100px 80px 100px;
    background-color: #1E1E1E;

}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.contact h4{
    color: #FFF;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
}

.contact h3{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    background: rgba(253, 111, 0, 0.10);
    padding: 64px 114px;
}
.contact-box h3{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact-form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    
}
.contact-form input{
    color: #FFF;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
.name-email{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
.contact-form h4{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-massage input{
    height: 60px;
}

.attachmant-file{
    display: flex;
    gap: 8px;
}

.attachmant-file a{
    text-decoration: none;
    color: #FFF;
    font-size: 21px;
    text-transform: uppercase;
}

.Submit-now{
    width: 180px;
    color: #FFF;
    background-color: #FD6F00;
    padding: 18px 26px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
}
.Submit-now:hover{
    color: #FD6F00;
    background-color: #FFF;
    transition: 0.5s;
}

/* ----------footer----------------- */

.footer-container{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 100px 80px 100px;
}

.footer-logo{
    color: #FD6F00;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.footer-navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 43px 0 91px 0;
}
.footer-navber a{
    text-decoration: none;
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.footer-social-icon{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 22px;
}

.footer-copyright{
    color: #FFF;
    background-color: #1E1E1E;
    text-align: center;
    padding: 26px 0;
}

.footer-copyright h3{
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.64px;
}
.footer-copyright span{
    color: #FD6F00;
}